<app-header></app-header>

<h2>Welcome to SUPFILE</h2>

<p>
  Supfile is a secure platform who provide a easy way to store all of your files.
  <br/>
  With is mobile application, you can now travel on all around the world with your data sync across all of your devices.
  <br/>
  Trusted by a lot of companies, we hope you will enjoyed our product.
</p>
