
.box{
  padding-left: 20px;
  .box-body {
    margin: 0 ;

    .rounded-circle {
      border-radius: 50% !important;
    }

    .login-header {
      margin-bottom: 25px;
      h3{
        font-size: 1.61rem;
        font-weight: 500;
      }
      //img {
      //  width: 32px;
      //  height: 32px;
      //  vertical-align: -7px;
      //  margin-right: 2px;
      //  background-color: purple;
      //  &:hover {
      //    -moz-transition: all 0.5s ease-in-out;
      //    -webkit-transition: all 0.5s ease-in-out;
      //    -o-transition: all 0.5s ease-in-out;
      //    -ms-transition: all 0.5s ease-in-out;
      //    transition: all 0.5s ease-in-out;
      //    -moz-transform: rotateY(-360deg);
      //    -webkit-transform: rotateY(-360deg);
      //    -o-transform: rotateY(-360deg);
      //    -ms-transform: rotateY(-360deg);
      //    transform: rotateY(-360deg);
      //  }
      //}
    }

    .form-group {
      margin-top: 28px;
      input {
        padding: 5px;
      }
      button {
        width: 100%;
        padding: 10px;
        cursor: pointer;
      }
    }

    .register-div {
      text-align: right!important;
      padding-top: 20px;
      a{
        text-decoration: none;
        color: purple;
        background-color: transparent;
      }
    }
  }
}
.full-width {
  width: 100%;
}

.text-center {
  text-align: center!important;
}

.button {
  position: relative;
  display: inline-block;
  padding: 12px 24px;
  margin: .3em 0 1em 0;
  width: 100%;
  vertical-align: middle;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  letter-spacing: 1px;
  background: transparent;
  border: 0;
  border-bottom: 2px solid #3160B6;
  cursor: pointer;
  transition: all 0.15s ease;
}

.button:focus {
  outline: 0;
}


/* Button modifiers */

.buttonBlue {
  background: #4a89dc;
  text-shadow: 1px 1px 0 rgba(39, 110, 204, .5);
}

.buttonBlue:hover {
  background: #357bd8;
}

