<div class="box">
  <div class="box-body">
    <form [formGroup]="RegisterFormGroup" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <mat-form-field class="full-width">
          <input matInput placeholder="AccountName" type="text" formControlName="nameControl">
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field class="full-width">
          <input matInput placeholder="Email" type="email" formControlName="emailControl">
          <mat-error *ngIf="RegisterFormGroup.controls.emailControl.hasError('email')
                  && !RegisterFormGroup.controls.emailControl.hasError('required')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="RegisterFormGroup.controls.emailControl.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field class="full-width">
          <input matInput placeholder="Password" type="password"
                 [type]="passWordHideType ? 'password' : 'text'" formControlName="passControl">
          <mat-icon matSuffix (click)="passWordHideType = !passWordHideType">{{ passWordHideType ? 'visibility'
            : 'visibility_off'}}
          </mat-icon>
          <mat-error *ngIf="RegisterFormGroup.controls.passControl.hasError('minlength')
                  && !RegisterFormGroup.controls.passControl.hasError('required')">
            The password at least has 6 length
          </mat-error>
          <mat-error *ngIf="RegisterFormGroup.controls.passControl.hasError('required')">
            Password is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-group">
        <button type="submit" [disabled]="RegisterFormGroup.invalid">Register</button>
      </div>
    </form>
  </div>
</div>

