<h2 mat-dialog-title id="title">Please input the folder's name:</h2>
<mat-dialog-content>
  <input matInput type="text" placeholder="Input folder's name here" id="folder" [(ngModel)]="foldName" name="foldName"/>
</mat-dialog-content>
<mat-dialog-actions id="folder_buttons">
  <!--<form (ngSubmit)="newFolder()">-->
    <!--<input matInput type="text" placeholder="Input folder's name here" id="folder" [(ngModel)]="foldName" name="foldName"/>-->
    <!--<button mat-button  matTooltip="Click when making sure !" class="folder_buttons" type="submit" >Add</button>-->
    <!--<button mat-button mat-dialog-close class="folder_buttons">Cancel</button>-->
  <!--</form>-->
  <button mat-button [mat-dialog-close]="true" matTooltip="Click when making sure !" class="folder_buttons" (click)="newFolder()">OK</button>
  <button mat-button mat-dialog-close class="folder_buttons">Cancel</button>
</mat-dialog-actions>
