#title {
  font-family: "Arial Rounded MT Bold";
  font-weight: bolder;
  font-size: 20px;
  margin-top: 5%;
}

#new_name {
  width: 340px;
  margin-top: 5%;
  height: 30px;
}

#rename_buttons {
  margin-left: 23%;
  margin-top: 5%;
}

.rename_buttons {
  background-color: #DDDDDD;
  font-family: "Arial Rounded MT Bold";
  font-weight: bolder;
}
