#core_part {
  position: absolute;
  top: 10%;
  left: 18%;
  width: 82%;
  height: 90%;
  background-color: white;
  overflow: scroll;
  overflow-x: hidden;
}

#manipulation {
  position: relative;
  top: 5%;
  left: 3%;
  border-radius: 4px;
}

.btn_manipulation {
  margin-right: 50px;
  font-size: 20pt;
  color: #336699;
  background-color: #DDDDDD;
}

.btn_manipulation:hover {
  left: .1em;
  background-color: #888888;
}

#fab_buttons {
  position: relative;
  top: 3%;
  left: 2%;
}

#fab_buttons button {
  margin-left: 30px;
  width: 100px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 15px;
  color: #2048ef;
}

#fab_buttons button:hover {
  left: .1em;
  background-color: #ef9014;
}

#search {
  position: relative;
  float: right;
  right: 7%;
  width:230px;
  height:20px;
  padding:6px;
  background:#FFCCFF;
}

#search .text input{
  border:1px solid #910091;
}

#list { margin-top: 1%;}
#list mat-list-item:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}

#back {
  margin-top: 5%;
  margin-left: 3%;
  a {
    color: blue;
    cursor: pointer;
  }
}

.folder_links {
  text-decoration: none;
  color: black;
}

.folder_links:hover {
  color: blue;
}

.list_head {
  font-weight: bold;
  color: #444444;
  font-size: 20px;
}

#head1 { margin-left: 4%; }
#head2 { margin-left: 42.5%; }
#head3 { margin-left: 16%; }

.folder_name { position: absolute; width: 10%; margin-left: 2%}
.folder_size { position: relative; width: 5%; margin-left: 53.6%; }
.folder_modifiedDate { position: relative; margin-left: 21%; }
