<div id="core_part">
  <div id="manipulation" *ngIf="list.selectedOptions.selected.length == 0 ; else fileTemplate" >
    <button mat-raised-button class="btn_manipulation" (click)="openNewFolderDialog()">New Folder</button>
    <button mat-raised-button class="btn_manipulation" (click)="openUploadDialog()">Upload</button>
    <button mat-raised-button class="btn_manipulation" (click)="openSaveDialog()">Save</button>
  </div>
  <ng-template #fileTemplate>
    <div id="fab_buttons" *ngIf="list.selectedOptions.selected.length != 0">
      <button mat-fab *ngIf="list.selectedOptions.selected.length == 1" (click)="move()">Move</button>
      <button mat-fab *ngIf="list.selectedOptions.selected.length == 1" (click)="openRenameDialog()">Rename</button>
      <button mat-fab (click)="deleteFile()">Delete</button>
      <button mat-fab (click)="downloadFile()">Download</button>
      <button mat-fab (click)="shareFile()">Share</button>
    </div>
  </ng-template>

  <div>
    <form id="search" (ngSubmit)="search()">
      <input type="text" placeholder="Input file or folder name" class="text" [(ngModel)]="searchWord" name="searchWord"/>
      <input type="submit" value="search" class="submit" />
    </form>
  </div>

  <div id="back"><a id="back_link" (click)="goBack()">Back</a><span> | Current Location: {{dirPath}}</span></div>

  <mat-selection-list id="list" #list>
    <h3 mat-subheader class="list_head">
      <span id="head1">Resources</span>
      <span id="head2">Size</span>
      <span id="head3">Latest Modification</span>
    </h3>
    <!--Resources should be replaced by getFirstStageOfResources()-->
    <mat-list-option *ngFor="let resource of resources; last as last"  >
      <h4 mat-line>
        <div *ngIf="resource.mime_type=='dir'; else falseTemplate">
          <mat-icon #other id="folder_icon">folder</mat-icon>
          <span class="folder_name"><a  class="folder_links" [routerLink]="['/main', resource.directory  + resource.original_name ]" >{{ resource.original_name }}</a></span>
          <span class="folder_size">-</span>
        </div>
        <ng-template #falseTemplate>
          <mat-icon #other id="file_icon">text</mat-icon>
          <span class="folder_name"  (click)="onSelectFile(resource)" >{{ resource.original_name }}</span>
          <span class="folder_size">{{ resource.size | volumeConverter }}</span>
        </ng-template>

        <span class="folder_modifiedDate">{{ resource.modifiedDate }}</span>
        <!--<mat-icon *ngIf="resource.mime_type=='dir'; else other" id="folder_icon">folder</mat-icon>-->
        <!--<mat-icon #other id="file_icon">text</mat-icon>-->
        <!--<mat-icon *ngIf="resource.mime_type!=='dir'" id="file_icon">text</mat-icon>-->
        <!--<span id="folder_name"><a href="./">{{ resource.original_name }}</a></span>-->
        <!--<span id="folder_size">{{ resource.size }}G</span>-->
        <!--<span id="folder_modifiedDate">{{ resource.modifiedDate }}</span>-->
      </h4>
      <mat-divider></mat-divider>
    </mat-list-option>
  </mat-selection-list>

</div>
