#area {
  height: 90%;
  background: no-repeat fixed;
}

.radios {
  margin-left: 40%;
  mat-radio-button {
    margin: 40% 10px 0 0;
  }

}

#tab-group {
  float: right;
  height: 80%;
  width: 30%;
  margin: 5% 10% 0 0;
}
