
<app-header></app-header>
<!--<img src="../../assets/img/background1.jpg" class="backgrounds">-->


<div id="area" [ngStyle]="{'background-image': 'url(' + background + ')'}">
  <mat-tab-group id="tab-group">
    <mat-tab label="Login">
      <app-login></app-login>
    </mat-tab>
    <mat-tab label="Register">
      <app-register></app-register>
    </mat-tab>
  </mat-tab-group>

  <mat-radio-group class="radios" [(ngModel)]="background"  >
    <mat-radio-button *ngFor="let choice of choices" [value]="choice">
    </mat-radio-button>
  </mat-radio-group>
</div>



