<mat-toolbar id="toolbar" color="primary" >
  <div id="header">
    <div id="logo">
      <img src="../../assets/logo.png" >
      <span><a href="/main" >SupFile</a></span>
    </div>

    <div id="profile" >

      <div *ngIf="isLogged">
        <img src="../../assets/profile-example.jpg" >
        <button mat-button [matMenuTriggerFor]="menu">{{currentUser.username}}</button>
        <mat-menu #menu="matMenu">
          <a href="/account" mat-menu-item>Edit Profile</a>
          <a hhref="#" (click)="logout()"  mat-menu-item>Log Out</a>
          <a href="/about" mat-menu-item>About</a>
        </mat-menu>
      </div>
    </div>
  </div>
</mat-toolbar>

