#toolbar {
  width: 100%;
  height: 10%;
}

#header {
  width: 100%;
}

#logo{
  float: left;
  margin-left: 20px;
}

#logo img{
  margin-top: 10px;
}

#logo span{
  font-family: "Arial Rounded MT Bold";
  margin-left: 20px;
  font-size: 40px;
}

#profile{
  float: right;
  margin: 5px 120px 0px 0px;

}

#profile img{
  border-radius: 50%;
  height: 50px;
  vertical-align:middle;
}

span a {
  text-decoration: none;
  color: white;
}
//#profile .mat-button {
//  font-size: 20px;
//}


//#profile span{
//  display: inline-block;
//  //margin-top: 10px;
//}
//#toolbar {
//  position: absolute;
//  top: 5%;
//  left: 0%;
//  width: 100%;
//}

//#logo{ margin: 7px 10px 0 50px;}
//
//
//#profile {
//  margin-left: 30%;
//}
//
//#img_profile {
//  border-radius: 50%;
//}
//
//#nickname {
//  margin-left: 10px;
//  color: white;
//}
//
//#setting {
//  width: 90px;
//  margin-left: 20px;
//  text-align: center;
//}
