#title {
  font-family: "Arial Rounded MT Bold";
  font-weight: bolder;
  font-size: 20px;
  color: red;
  margin-top: 5%;
}

#error_buttons {
  margin-left: 35%;
  margin-top: 2%;
}

.error_buttons {
  background-color: #DDDDDD;
  font-family: "Arial Rounded MT Bold";
  font-weight: bolder;
}
