<mat-dialog-content>
  <h2 mat-dialog-title id="title">{{data.Info}}</h2>
  <p>{{data.message}}</p>
</mat-dialog-content>
<mat-dialog-actions id="error_buttons">
  <button mat-button [mat-dialog-close]="true" class="error_buttons">I know</button>
</mat-dialog-actions>
