<mat-sidenav-container>
  <mat-sidenav-content>
    <dl class="docs">
      <dd><a href="/main">All Documents</a></dd>
      <dd><a href="/main?fileType=audio/mp3">Pictures</a></dd>
      <dd><a  [routerLink]="['/main']"  [queryParams]='{spec: video}' >Videos</a></dd>
      <dd><a href="/">Doc</a></dd>
      <dd><a href="/">Audio</a></dd>
      <dd (click)="filterByOthers()">Others</dd>
      <dd (click)="getDeletedItems()">Recycle Bin</dd>
    </dl>
    <div>
      <!--value and 12.0G should be replaced by getCapacityInfo()-->
      <mat-progress-bar mode="determinate" value="40" id="capacity"></mat-progress-bar>
      <p id="potion">12.0G/30.0G</p>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
