mat-sidenav-container {
  width: 18%;
  height: 90%;
  background-color: #669def;
}


.docs {
  list-style-type: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.docs dd {
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  border-radius: 4px;
  line-height: 2.5em;
  color: white;
  margin: 10% 0 0 0;
}

//.docs dd.selected:hover {
//  background-color: #BBD8DC !important;
//  color: white;
//}
//
//.docs dd:hover {
//  color: #607D8B;
//  background-color: #DDDDDD;
//  left: .1em;
//}
//
//.docs dd:active {
//  color: #336699;
//  background-color: #888888;
//}

dd a {
  text-decoration: none;
}


dd a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}
dd a.active {
  color: #039be5;
}


#capacity {
  width: 70%;
  margin: 10% 0 0 15%;
}

#potion {
  width: 50%;
  font-weight: bold;
  color: white;
  margin: 10% 0 0 30%;
}
