#title {
  font-family: "Arial Rounded MT Bold";
  font-weight: bolder;
  font-size: 20px;
  margin-top: 5%;
}

#upload {
  width: 340px;
  margin-top: 5%;
}

#upload_buttons {
  margin-left: 23%;
  margin-top: 5%;
}

.upload_buttons {
  background-color: #DDDDDD;
  font-family: "Arial Rounded MT Bold";
  font-weight: bolder;
}
