<h2 mat-dialog-title id="title">Please specify the document which will be uploaded:</h2>
<mat-dialog-content>
  <!--<input matInput type="file" id="upload" onchange="onChange($event)"/>-->
  <input type="file" id="upload" #fileInput/>
</mat-dialog-content>
<mat-dialog-actions id="upload_buttons">
  <button mat-button [mat-dialog-close]="true" matTooltip="Click when making sure !" class="upload_buttons" (click)="upload()">OK</button>
  <button mat-button mat-dialog-close class="upload_buttons">Cancel</button>
</mat-dialog-actions>
