.box{
  padding: 30px;
  .box-body {
    width: 410px;
    padding: 40px;
    margin: 0 auto;

    .rounded-circle {
      border-radius: 50% !important;
    }

    .login-header {
      margin-bottom: 25px;
      h3{
        font-size: 1.61rem;
        font-weight: 500;
      }
      img {
        width: 32px;
        height: 32px;
        vertical-align: -7px;
        margin-right: 2px;
        background-color: purple;
        &:hover {
          -moz-transition: all 0.5s ease-in-out;
          -webkit-transition: all 0.5s ease-in-out;
          -o-transition: all 0.5s ease-in-out;
          -ms-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out;
          -moz-transform: rotateY(-360deg);
          -webkit-transform: rotateY(-360deg);
          -o-transform: rotateY(-360deg);
          -ms-transform: rotateY(-360deg);
          transform: rotateY(-360deg);
        }
      }
    }

    .form-group {
      margin-top: 28px;
      input {
        padding: 5px;
      }
      button {
        width: 100%;
        padding: 10px;
        cursor: pointer;
      }
    }

    .register-div {
      text-align: right!important;
      padding-top: 20px;
      a{
        text-decoration: none;
        color: purple;
        background-color: transparent;
      }
    }
  }
}
.full-width {
  width: 100%;
}

.text-center {
  text-align: center!important;
}


