<app-header></app-header>
<div class="box">
  <div class="box-body">
    <div class="text-center login-header">
      <img src="assets/img/logo.png" class="rounded-circle"/>
    </div>
    <hr/>
    <form  (ngSubmit)="editUserInfo()">
      <div class="form-group">
        <mat-form-field class="full-width">
          <input matInput placeholder="UserName" type="email" >
        </mat-form-field>
      </div>
      <div class="form-group">
        <button type="submit" >Save</button>
      </div>
    </form>
  </div>
</div>


