#title {
  font-family: "Arial Rounded MT Bold";
  font-weight: bolder;
  font-size: 20px;
  margin-top: 5%;
}

#save_link {
  width: 340px;
  margin-top: 5%;
  height: 30px;
}

#save_buttons {
  margin-left: 23%;
  margin-top: 5%;
}

.save_buttons {
  background-color: #DDDDDD;
  font-family: "Arial Rounded MT Bold";
  font-weight: bolder;
}
