<h2 mat-dialog-title id="title">Please input the link of resource:</h2>
<mat-dialog-content>
  <input matInput type="text" placeholder="Input link here" id="save_link" [(ngModel)]="saveFileId" name="saveFile"/>
</mat-dialog-content>
<mat-dialog-actions id="save_buttons">
  <button mat-button [mat-dialog-close]="true" matTooltip="Click when making sure !" class="save_buttons" (click)="saveFile()">OK</button>
  <button mat-button mat-dialog-close class="save_buttons">Cancel</button>
</mat-dialog-actions>
