/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body {
  padding:0;
  margin:0;
  width: 100%;
  height: 100%;
}

.spacer {
  flex: 1 1 auto;
}
.menu-item {
  font-size: 14px;
  color: white;
  text-decoration: none;
  margin: 0 10px;
}
.menu-item.title {
  font-size: 20px;
}
